.Button-Control .Button-FontData
{
	[Skin.FontNormal];
	[Skin.ForegroundNormal];
}

.Button-Control_Enter .Button-FontData
{
	[Skin.FontHover];
	[Skin.ForegroundHover];
}

.Button-Control_Down .Button-FontData
{
	[Skin.FontPressed];
	[Skin.ForegroundPressed];
}

.Button-Control_Focus .Button-FontData
{
	[Skin.FontFocused];
	[Skin.ForegroundFocused];
}

.Button-Control_Disabled .Button-FontData
{
	[Skin.FontDisabled];
	[Skin.ForegroundDisabled];
}

.Button-FlatControl .Button-FontData
{
	[Skin.FontNormal];
	[Skin.ForegroundNormal];
}

.Button-FlatControl_Enter .Button-FontData
{
	[Skin.FontHover];
	[Skin.ForegroundHover];
}

.Button-FlatControl_Down .Button-FontData
{
	[Skin.FontPressed];
	[Skin.ForegroundPressed];
}

.Button-FlatControl_Focus .Button-FontData
{
	[Skin.FontFocused];
	[Skin.ForegroundFocused];
}

.Button-FlatControl_Disabled .Button-FontData
{
	[Skin.FontDisabled];
	[Skin.ForegroundDisabled];
}

.Button-FlatControl 
{
	width:100%;
	height:100%;
	[Skin.FlatButtonNormalStyle];
}

.Button-FlatControl_Enter
{
	[Skin.FlatButtonHoverStyle];
}

.Button-FlatControl_Focus
{
	[Skin.FlatButtonFocusedStyle];
}

.Button-FlatControl_Down
{
	[Skin.FlatButtonPressedStyle];	
}

.Button-Content
{
	[Skin.ContentPadding];
}

.Button-Control
{
	[Skin.Border];
	[Skin.Background];
	[Skin.VisualEffect]
}

.Button-Control .Button-Center
{
	[Skin.CenterNormalStyle];
	background-color:transparent;
	background-image:none;
}

.Button-Control_Enter .Button-Center
{
	[Skin.CenterHoverStyle];
}

.Button-Control_Down .Button-Center
{
	[Skin.CenterPressedStyle];
}

.Button-Control_Focus .Button-Center
{
	[Skin.CenterFocusedStyle]; 
}

.Button-Control_Disabled .Button-Center
{
	[Skin.CenterDisabledStyle];
}

.Button-CenterBase
{
	/*background-clip:content-box;*/
}

.Button-Image
{
    [Skin.ImageStyle];
}

.Button-Image_Disabled
{
    [Skin.ImageDisabledStyle];
}
