﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Google_Analytics.ascx.cs" Inherits="JR.CMS.Core.UI.Google_Analytics"  %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%=M["UA"]%>']);<%=Domain_Clause%>_gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
