﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Rotator_Render.aspx.cs" Inherits="JR.CMS.Core.UI.Rotator_Render" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <asp:AdRotator ID="C_Rotator" runat="server"  Target="_blank" CssClass="image" />
    </div>
    </form>
</body>
</html>
