﻿@using JR.Mailing
@layout Layout

@{
    Mail.Bag["toto"] = "tutu";
    Mail.Model = "titi";
}
<h3>Sample</h3>
﻿<p>Today's date is @DateTime.Today.ToLongDateString()</p>
@code {
    [Parameter] public Mail_Template<string> Mail { get; set; }
}
