﻿body {
}
.st-1 {color: #000000!important ;background-color: #75c7bb!important ;}
.st-2 {color: #000000!important ;background-color: #c6e56f!important ;}
.st-3 {color: #000000!important ;background-color: #ea2673!important ;}
.st-4 {color: #000000!important ;background-color: #ffd0dc!important ;}
.st-5 {color: #ffffff!important ;background-color: #8d625b!important ;}
.st-6 {color: #000000!important ;background-color: #009285!important ;}
.st-7 {color: #000000!important ;background-color: #fea500!important ;}
.st-8 {color: #000000!important ;background-color: #efd771!important ;}
.st-9 {color: #000000!important ;background-color: #bca8d0!important ;}
.st-0 {color: #000000!important ;background-color: #fa97ba!important ;}
.st-dark {color: #ffffff !important;background-color: #666 !important;}
.st-inactive {color: #ffffff!important ;background-color: #DDD!important ;}
.st-warning {color: #ffffff!important ;background-color: #e99002!important ;}
.st-danger {color: #ffffff!important ;background-color: #f04124!important ;}
.st-success {color: #ffffff!important ;background-color: #43ac6a!important ;}
.st-primary {color: #ffffff!important ;background-color: #008cba!important ;}
.st-info {color: #ffffff!important ;background-color: #5bc0de!important ;}

.label-inactive {
  background-color : #DDD;
}
.label-inactive[href]:hover,
.label-inactive[href]:focus {
  background-color: #5e5e5e;
}
.label-dark {
  background-color : #666;
}
.label-dark[href]:hover,
.label-dark[href]:focus {
  background-color: #5e5e5e;
}
td
{
   vertical-align:top;
}
.Form-HeaderPart {
    border-collapse:separate;
}