﻿<MudDialog DefaultFocus="DefaultFocus.Element">
    <DialogContent>
        <MudSlider @bind-Value="@Current_Row" Min="@Min_Row" Max="@Max_Row" Color="Color.Info">Row : @Current_Row.ToString()</MudSlider>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">Ok</MudButton>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public int Current_Row { get; set; }
    [Parameter] public int Min_Row { get; set; }
    [Parameter] public int Max_Row { get; set; }

    void Submit()
    {
        MudDialog.Close(Current_Row);  
    } 
    void Cancel() => MudDialog.Cancel();

}